<a href="https://colab.research.google.com/github/kli007/CSC221_kli007/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
base = [None, 1]
for x in range(0, 2):
  if base[x] == None:
    print(f"Base {x} has no value")
  else:
    print(f"Base {x} value is {base[x]}")

Base 0 has no value
Base 1 value is 1

In [ ]:
positive = True

def check():
  if positive == False:
    print("The Number is Negative")
  else:
    print("The Number is Positive")

check()
positive = False
check()

The Number is Positive
The Number is Negative

In [ ]:
num1 = 1
num2 = -1

print(num1 > 0)
print(num2 > 0)
print(num1 > 0 and num2 > 0)
num2 = 1
print(num1 > 0 and num2 > 0)

True
False
False
True

In [ ]:
a = 1
b = 2
check = a < b
if check == True:
  print(True)

True

In [ ]:
import random as rng
num = []
for x in range(10):
  num.append(rng.randrange(0,5))
print(num)

[3, 3, 2, 0, 3, 1, 4, 1, 3, 2]

In [ ]:
import asyncio

async def main():
    print("Hello")
    await asyncio.sleep(1)
    print("Goodbye")
    await asyncio.sleep(1)

loop = asyncio.get_running_loop()
await loop.create_task(main())

Hello
Goodbye

In [ ]:
time = 4

assert time == 4
assert time == 5

AssertionError:

In [ ]:
for x in range(140):
  if x == 7:
    break
  else:
    print(x)

0
1
2
3
4
5
6

In [ ]:
import asyncio

async def main():
    for x in range(20):
      print(f"{x} second")
      await asyncio.sleep(1)

loop = asyncio.get_running_loop()
await loop.create_task(main())

0 second
1 second
2 second
3 second
4 second
5 second
6 second
7 second
8 second
9 second
10 second
11 second
12 second
13 second
14 second
15 second
16 second
17 second
18 second
19 second

In [ ]:
#print only even numbers
for x in range(10):
  if x % 2 != 0:
    continue
  else:
    print(x)

0
2
4
6
8

In [ ]:
class time:
  def __init__(self, hour, seconds):
    self.hour = hour
    self.seconds = seconds

  def print(self):
    print(f"It is {self.hour}:{self.seconds}.")

time = time(3, 17)
time.print()

It is 3:17.

In [ ]:
def name(first, last):
  print(f"Hello, my name is {first} {last}!")

name("John", "Doe")
name("Mario", "Mario")
name("Luigi", "Mario")

Hello, my name is John Doe!
Hello, my name is Mario Mario!
Hello, my name is Luigi Mario!

In [ ]:
def calc(weekday, holiday):
  if holiday == True:
    print('It is not a school day')
  elif weekday == True:
    print('It is not a school day')
  else:
    print('It is a school day')

calc(False, True)
calc(True, True)
calc(True, False)
calc(False, False)

It is not a school day
It is not a school day
It is not a school day
It is a school day

In [ ]:
days = ['mercury', 'venus', 'earth', 'mars',
        'jupiter', 'saturn', 'uranus', 'neptune', 'pluto']
print(days)

del days[8]

print(days)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto']
['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [ ]:
name = "Kevin"

try:
  name > 3
except NameError:
  print("You have a variable that is not defined.")
except TypeError:
  print("You are comparing values of different type")

You are comparing values of different type

In [ ]:
if 9 < 8:
  print("8 is greater than 9")
else:
  print("9 is greater than 8")

9 is greater than 8

In [ ]:
for x in range(7, 16):
  print(x)

7
8
9
10
11
12
13
14
15

In [ ]:
try:
  x > 3
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")
finally:
  print("The try block is finished")

Nothing went wrong
The try block is finished

In [ ]:
from datetime import date

date = date(2018, 5, 14)
print(date)

2018-05-14

In [ ]:
x = 7
if x == 7:
  print("The number is 7")

The number is 7

In [ ]:
x = "five"
def fun():
  global x
  x = "seven"

print(x)
fun()
print(x)

five
seven

In [ ]:
names = ["Alice", "Bob", "Charlie", "Diana", "Eve"]

for name in names:
  print(f"Hello {name}")

Hello Alice
Hello Bob
Hello Charlie
Hello Diana
Hello Eve

In [ ]:
import platform

x = platform.system()
print(x)

Linux

In [ ]:
num = lambda a, b: a**b
print(num(3,4))
print(num(2,4))

81
16

In [1]:
var1 = "Dave"
var2 = "Tim"
var3 = "Dave"

print(var1 is var2)
print(var2 is var3)
print(var1 is var3)

False
False
True

In [2]:
def name():
  x = "Tim"
  def name2():
    nonlocal x
    x = "Tom"
  name2()
  return x

print(name())

Tom

In [3]:
x = False

print(not x)

True

In [4]:
if(9 < 0 or 1 == 1):
  print(True)

True

In [5]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers allowed")

TypeError: Only integers allowed

In [6]:
for x in range(40):
  pass

In [8]:
try:
  name > 3
except TypeError:
  print("You are comparing values of different type")

You are comparing values of different type

In [9]:
def num():
  x = 10
  y = 15
  return(x+y)

print(num())

25

In [10]:
x = 0
while x < 10:
  print(x)
  x += 1

0
1
2
3
4
5
6
7
8
9

In [14]:
with open('example.txt', 'w') as file:
    file.write('Hello, world!')

In [16]:
def func():
  yield 7
  yield 10
  yield "Tim"

for value in func():
  print(value)

7
10
Tim