<a href="https://colab.research.google.com/github/kli007/CSC221_kli007/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x = abs(-12)
print(x)
y = abs(-4) + 7
print(y)

12
11

In [4]:
name = input("Please type your first name:")
print(f"Hello {name}!")

Please type your first name:Kevin
Hello Kevin!

In [7]:
print("Print")
print(f"displays charcters \nto the user")

Print
displays charcters
to the user

In [8]:
x = "40"
y = 9
print(int(x)+y)

49

In [11]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [12]:
x = 777
name = "John"
print(name + str(x))

John777

In [14]:
x = 10.4
y = 20.9
z = 15.5
print(round(x))
print(round(y))
print(round(z))

10
21
16

In [22]:
x = 10
print(x)
print(float(x))

10
10.0

In [23]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [28]:
x = bool("in")
print(x)
x = bool(7)
print(x)
x = bool(-7)
print(x)
x = bool()
print(x)
x = bool(None)
print(x)

True
True
True
False
False

In [29]:
lis = [9, 2, 8, 4, 1]
print(sorted(lis))

[1, 2, 4, 8, 9]

In [32]:
x = ("a", "b", "c", "d", "e", "f", "g", "h")
par = slice(0, 4)
print(x[par])

('a', 'b', 'c', 'd')

In [36]:
planets = ["mercury", "venus", "earth", "mars"]
planets = reversed(planets)
for planet in planets:
  print(planet)

mars
earth
venus
mercury

In [38]:
x = 10
if isinstance(x, int):
  print(True)
if isinstance(x, str):
  print(True)
else:
  print(False)

True
False

In [39]:
num = [8, 9, 12, 1, -3]
print(sum(num))

27

In [40]:
name = "SUNY Plattsburgh"
names = list(name)
print(names)

['S', 'U', 'N', 'Y', ' ', 'P', 'l', 'a', 't', 't', 's', 'b', 'u', 'r', 'g', 'h']

In [41]:
num = [8, 9, 12, 1, -3]
print(max(num))

12

In [42]:
num = [8, 9, 12, 1, -3]
print(min(num))

-3

In [44]:
x = compile('print("Moon"+"Sun")\nprint("Eclipse")', 'test', 'exec')
exec(x)

MoonSun
Eclipse

In [45]:
x = pow(4, 3)
print(x)

64